<h1>TURISTA</h1>

<div class="section">
    <h2>Autos</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Agencia</th>
                    <th>Marca</th>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>ciudad</th>
                    <th>Reservar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let auto of autosItems">
                    <td>{{ auto.agencia }}</td>
                    <td>{{ auto.marca }}</td>
                    <td>{{ auto.placa }}</td>
                    <td>{{ auto.modelo }}</td>
                    <td>{{ auto.precio }}</td>
                    <td>{{ auto.ciudad }}</td>
                    <td><button class="button" (click)="reservarAuto(auto)">Reservar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="section">
    <h2>Viajes</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Agencia</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Días</th>
                    <th>Precio</th>
                    <th>Reservar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let viaje of viajesItems">
                    <td>{{ viaje.agencia }}</td>
                    <td>{{ viaje.origen }}</td>
                    <td>{{ viaje.destino }}</td>
                    <td>{{ viaje.dias }}</td>
                    <td>{{ viaje.precio }}</td>
                    <td><button class="button" (click)="reservarViaje(viaje)">Reservar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<button class="button" (click)="actualizarTabla()">Actualizar</button>
<button class="button" (click)="logout()">Cerrar Sesión</button>
